*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:url(https://t4.ftcdn.net/jpg/05/45/42/81/360_F_545428173_uyYWJoR9n5uJFYIWfDa2C49AzIECcU20.jpg);
    background-size: cover;
    background-position: center;}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 220px;
    cursor: pointer;
    border-radius: 100%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 80px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    border: 2px solid lightcoral;
    color: red;
    cursor: pointer;
}
.navbar ul li::after{
    content: 0;
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: 2px;
    transition: 0.2s;
}
.navbar ul li:hover::after{
    width: 100%;

}